@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* How to use font 
.theClass {
  font-family: "Poppins", sans-serif;
  font-weight: 100-900;
  font-style: normal/italic;
}
*/

:root {
  /* Primary Colors */
  --primary: #379777;
  --primary-dark: #2e6d5e; /* Darker shade of primary */
  --primary-light: #7ab8ab; /* Lighter shade of primary */

  /* Secondary Colors */
  --secondary: #f4ce14;
  --secondary-dark: #d4a10e; /* Darker shade of secondary */
  --secondary-light: #f9e547; /* Lighter shade of secondary */

  /* Dark Colors */
  --dark-darker: rgb(25, 25, 25);
  --dark: #3f4043;
  --dark-light: #6c6f72; /* Lighter shade of dark */

  /* Light Colors */
  --light-lighter: white;
  --light: #f5f7f8;
  --light-dark: #e1e3e5; /* Darker shade of light */
}

/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif; /* Set a consistent font-family across the application */
  background-color: var(--light);
}

/* Additional Global Styles */
body {
  line-height: 1.6; /* Improve readability by setting a consistent line height */
  color: #333; /* Set a default text color */
}

/* Styling for Links */
a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent element */
}

/* Reset for Lists */
ul,
ol {
  list-style: none; /* Remove default list styling */
}

/* Reset for Tables */
table {
  border-collapse: collapse; /* Collapse table borders for consistency */
  width: 100%; /* Ensure tables take full width */
}
