.businessList {
  /* Layout and Display */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;
  justify-items: center;

  /* Sizing */
  width: 100%;
  padding: 2rem;
  max-width: 1740px;
  margin: auto;

  /* Border */
  /* border: 1px solid black; */

  /* styling */
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.332));
}

/* Media Queries */
@media (min-width: 2400px) {
  .businessList {
    grid-template-columns: repeat(6, minmax(300px, 1fr));
    max-width: 4000px;
    padding: 2rem;
  }
}

/* For screens wider than 1700px */
@media (min-width: 1700px) and (max-width: 2400px) {
  .businessList {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    padding: 2rem;
  }
}

/* For screens between 1200px and 1699px */
@media (min-width: 1260px) and (max-width: 1699px) {
  .businessList {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 2rem 4rem;
  }
}

/* For screens between 768px and 1199px */
@media (min-width: 768px) and (max-width: 1260px) {
  .businessList {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    padding: 2rem 2rem;
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  .businessList {
    grid-template-columns: 1fr;
    padding: 2rem 7rem;
  }
}

/* For screens smaller than 650px */
@media (max-width: 650px) {
  .businessList {
    grid-template-columns: 1fr;
    padding: 2rem 5rem;
  }
}

/* For screens smaller than 550px */
@media (max-width: 550px) {
  .businessList {
    grid-template-columns: 1fr;
    padding: 5px;
  }
}
