.businessList {
  /* Layout and Display */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;
  justify-items: center;

  /* Sizing */
  width: 100%;
  padding: 2rem;
  max-width: 1740px;
  margin: auto;
}
