.businessList {
  /* Layout and Display */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 1rem;
  justify-content: center;

  /* Sizing */
  width: 100%;
  padding: 3rem 15%;
  margin: auto;
}
