

/* Global Styles */
* {
  border: 0px;
}

.searchBar {
  display: flex;
  height: fit-content;
  width: 550px;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;

  border-radius: 1rem;
  background: var(--light);
}

.searchFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex: 1;

  justify-content: space-between;
  align-items: stretch;
}

.searchRestaurant,
.searchLocation {
  display: flex;
  padding: 0.5rem 1rem;
  flex: 1;

  border-radius: 0.5rem;
  background: var(--light);
  border: 1px solid var(--primary);

  color: var(--dark);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.searchRestaurant::placeholder,
.searchLocation::placeholder {
  color: var(--dark-light); /* Using lighter dark color for placeholder */
}

.searchRestaurant:focus,
.searchLocation:focus {
  outline: 2px solid var(--primary-dark);
  background-color: var(--light-dark); /* Darker shade of light for focus */
}

.searchCriteria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.searchCriteria button {
  padding: 0.3rem;
  border-radius: 8px;
  background: var(--dark-light);
  width: 7rem;

  color: var(--light);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: 300ms ease;
}

.searchCriteria button:hover {
  cursor: pointer;
  background: var(--secondary);
  color: var(--dark);
}

.searchButton {
  padding: 0.5rem 1.4rem;
  border-radius: 16px;
  background: var(--primary);

  color: var(--light); /* Using lighter dark color for text */
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: 200ms ease-out;
}

.searchButton:hover {
  cursor: pointer;
  background: var(--primary-dark);
  transform: scale(1.02);
}

/* Media Queries */
@media (min-width: 2000px) {
  .searchBar {
    width: 700px;
  }

  .searchBar h2 {
    font-size: xx-large;
  }

  .searchRestaurant,
  .searchLocation {
    font-size: x-large;
  }

  .searchCriteria {
    gap: 0px;
  }

  .searchCriteria button {
    font-size: medium;
    width: 190px;
  }

  .searchButton {
    font-size: x-large;
  }
}

@media (mid-wdith: 1200px){

}
