* {
  border: 0px;
}

.searchBar {
  display: flex;
  height: fit-content;
  width: auto;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;

  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.4);
}

.searchFields {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex: 1;

  justify-content: space-between;
  align-items: stretch;
}

.searchRestaurant,
.searchLocation {
  display: flex;
  height: 2rem;
  padding: 0 1rem;
  flex: 1;

  border-radius: 0.5rem;
  background: #ffffffe1;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

  color: rgba(0, 0, 0);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.searchRestaurant::placeholder,
.searchLocation::placeholder {
  color: rgba(23, 23, 23, 0.4);
}

.searchRestaurant:focus,
.searchLocation:focus {
  outline: 2px solid #0022ff6e;
}

.searchCriteria {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.searchCriteria button {
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 8px;
  background: #454545;

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.searchCriteria button:hover,
.searchButton:hover {
  cursor: pointer;
  background: #2436ae;
  color: white;
}

.searchButton {
  display: flex;
  padding: 8px 73px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 0px;
  border-radius: 16px;
  background: #fffb00;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

  color: #101010;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
