/* Business Image */
.businessImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  z-index: 0;
}

/* The parent card */
.eachBusiness {
  /* Layout and Display */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: var(--light-lighter);
  box-shadow: 0px 0px 1px var(--dark);

  /* Sizing */
  width: 15rem;
  height: 15rem;

  /* Styling */
  border-radius: 1rem;

  /* Animation */
  transition: transform 300ms ease-out;
}

/* Animation, making the card on hover large */
.eachBusiness:hover,
.eachBusiness:focus-within {
  transform: translateY(-1rem);
}

/* Category of the food  */
.category {
  margin: 1rem;
  position: absolute;
  background-color: var(--secondary);
  width: 5rem;
  text-align: center;
  border-radius: 0.5rem;
  text-shadow: 1px 1px 1px var(--dark);
}

/* Includes Headings, reviews and address */
.cardContent {
  padding: 1rem;
  transform: translateY(6.5rem);

  background: linear-gradient(
    rgba(0, 0, 0, 0.01) 5%,
    rgba(0, 0, 0, 0.5) 50%,
    black
  );
}

.cardTitle {
  font-weight: 700;
  font-size: large;
  color: var(--light-lighter);
  text-shadow: 2px 2px 1px var(--dark-darker);
}

/* Address and ratings */
.cardInformation {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: start;
  font-size: smaller;
  line-height: 1.3;
}

.review {
  font-size: xx-small;
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  .cardContent {
    transform: translateY(12rem);
    transition: transform 500ms ease-out;
  }

  .eachBusiness:hover .cardContent,
  .eachBusiness:focus-within .cardContent {
    transform: translateY(6.5rem);
  }

  .eachBusiness:focus-within .cardContent {
    transition-duration: 0ms;
  }

  .cardContent > *:not(.cardTitle) {
    transition: opacity 300ms linear;
    opacity: 0;
  }

  .eachBusiness:hover .cardContent > *:not(.cardTitle),
  .eachBusiness:focus-within .cardContent > *:not(.cardTitle) {
    opacity: 1;
  }

  .cardTitle::after {
    transform: scaleX(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
